<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxKnight Challenge</title>
</head>
<body>
    <div class="container">
        <hr>
        <h1>Enter Your Address</h1>
        <hr>
    
        <form action="http://localhost:3000/address" method="POST">
            <label for="address">Address</label>
            <input class="form-control" name="address" required>
    
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>