<%- include ('partials/header.ejs', {pageTitle: pageTitle}) %>
<section class="main section is-medium">
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="column is-5">
                <h1 class="title is-2">Boxknight Developer Submission</h1>
                <p class="subtitle is-5">
                    It took me roughly 4 days to complete this challenge. I didn't know much about Node.js at the beginning of it, but I really had a blast learning it ! Thank you.
                </p>
                <a href="/shipment" class="button">Start</a>
            </div>
            <div class="column is-6 is-offset-1">
                <img src="/images/boxknight-image.svg">
            </div>
        </div>
    </div>
</section>
<%- include ('partials/footer.ejs') %>