<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxKnight Challenge</title>
</head>
<body>
    <div class="container">
        <div class="enter-address">
            <hr>
            <h1>Enter Your Address</h1>
            <hr>
        
            <form action="/shipment" method="POST">
                <label for="address">Address</label>
                <input class="form-control" name="address" required>
                <label for="city">City</label>
                <input class="form-control" name="city" required>
                <label for="province">Province</label>
                <input class="form-control" name="province" required>
                <label for="postalcode">Postal Code</label>
                <input class="form-control" name="postalcode" required>
                <label for="Country">Country</label>
                <input class="form-control" name="country" required>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
</body>
</html>