<%- include ('partials/header.ejs', {pageTitle: pageTitle}) %>
<section class="main section is-large">
    <div class="container is-max-desktop">
        <div class="columns is-centered">
            <div class="column">
                <% if(order !== null){ %>
                    <div class="order-information">
                        <h1 class="title is-1">THANK YOU FOR YOUR ORDER !</h1>
                        <p class="subtitle is-3">Order number: #<%= order.order_id %></p>
                    </div>
                    <div class="end">
                        <p class="subtitle is-3">This completes my submission ! Thank you again.</p>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>
<%- include ('partials/footer.ejs') %> 