<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
</head>
<body>
    <div class="container">
        <% if(order !== null){ %>
            <div class="order-information">
                <h1>THANK YOU FOR YOUR ORDER !</h1>
                <p>Order number: #<%= order.order_id %></p>
            </div>
        <% } %>
    </div>
    <div>
        <a href="/">Another One</a>
    </div>
</body>
</html>