.main {
    background-color: #F5F5F5;
}

.button {
    background-color: #258FFB;
    color: #FFF;
    border-color: transparent;
}

.button:hover {
    color: #FFF;
    font-weight: 500;
}

.error-message {
    color: red;
}

.navbar-item {
    color: #258FFB
}